<footer class="site-footer">
  <div class="wrapper">
    <div id="social" class="footer-col-wrapper">
      <a href="mailto:{{ site.contact.email }}"><img class="icon" src="/images/email.png"/></a>
      <a href="http://github.com/{{ site.contact.github }}" target="_blank"><img class="icon" src="/images/github.png"/></a>
      <a href="http://linkedin.com/in/{{ site.contact.linkedin }}" target="_blank"><img class="icon" src="/images/linkedin.png"/></a>
      <a href="http://facebook.com/{{ site.contact.facebook }}" target="_blank"><img class="icon" src="/images/facebook.png"/></a>
      <a href="http://instagram.com/{{ site.contact.instagram }}" target="_blank"><img class="icon" src="/images/instagram.png"/></a>
      <a href="http://twitter.com/{{ site.contact.twitter }}" target="_blank"><img class="icon" src="/images/twitter.png"/></a>
      <a href="http://stackoverflow.com/users/{{ site.contact.stackoverflow }}" target="_blank"><img class="icon" src="/images/stackoverflow.png"/></a>
    </div>
  </div>
</footer>