<header class="site-header">
  <div class="wrapper">

    <div class="site-title">{{ site.title }}</div>

    <nav class="site-nav">
      <div class="trigger">
        <a class="site-link {% if page.id == 'about' %}selected{% endif %}" href="/">About</a>
        <a class="site-link {% if page.id == 'projects' %}selected{% endif %}" href="/projects">Projects</a>
        <a class="site-link {% if page.id == 'resume' %}selected{% endif %}" href="/resume">Resume</a>
      </div>
    </nav>

  </div>

</header>
