//Site header
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 100px;

    position: relative;
    text-align:center;

    a{
        color:$grey-color-dark;
    }

}

.site-title {
    font-family: $header-font-family;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 3px;
    padding:40px 0;
    margin: 0 auto;
    color: $text-color;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .site-link {
        color: $text-color;
        line-height: $base-line-height;
        text-transform: $header-uppercase;

        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover{
            border-bottom: solid 1px $grey-color-dark;
        }
    }

    .selected {   
        border-bottom: solid 1px $grey-color-dark;
    }
}

//Site content
.site-content {
    margin-bottom: $spacing-unit * 3;
}


//Site footer
.site-footer {
    background: white;
    position:fixed;
    width:100%;
    bottom:0px;
    border-top: 1px solid $grey-color-light;
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    text-align: center;
    .icon {
        width:25px;
        margin-left: $spacing-unit / 4;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(5% - (#{$spacing-unit} / 2));
    width:         calc(5% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-4 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}


@include media-query($on-phone) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


//Page content
.page {
    .page-content {
        padding: $spacing-unit 0;
    }
}


//Projects page

.projects-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.project-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.project-link {
    display: block;
    font-size: 24px;
}


/**
 * Project
 */

 .project-header {
    margin-bottom: $spacing-unit;
}

.project-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-phone) {
        font-size: 36px;
    }
}

.project-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-phone) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-phone) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-phone) {
            font-size: 18px;
        }
    }
}

#resume {
    text-align: center;

    .resume-preview {
        width:300px;
    }
}
