---
layout: default
---

<div class="project-card">
  <header class="project-header">ProjectA</header>
   <img class="project-img"/>
   <p class="project-description">description</p>
   <p class="project-skills">HTML/CSS/Javascript</p>
</div>


<div class="project-card">
  <header class="project-header">ProjectA</header>
   <img class="project-img"/>
   <p class="project-description">description</p>
   <p class="project-skills">HTML/CSS/Javascript</p>
</div>

<div class="project-card">
  <header class="project-header">ProjectA</header>
   <img class="project-img"/>
   <p class="project-description">description</p>
   <p class="project-skills">HTML/CSS/Javascript</p>
</div>

